/* External */
@import "lenis/dist/lenis.css";
@import "tailwindcss";

/* Custom styles */
@import "./styles/colors.css";
@import "./styles/animations.css";
@import "./styles/global.css";

/* Tailwind dark mode variant */
@custom-variant dark (&:where(.dark, .dark *));
