.cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
  mix-blend-mode: difference;
  transition: opacity 0.3s ease;
}

.cursorHidden {
  opacity: 0;
}

.cursorVisible {
  opacity: 1;
}

.dot {
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: white;
  transition: width 0.3s ease-out, height 0.3s ease-out;
}

.dotDefault {
  width: 0.75rem;
  height: 0.75rem;
}

.dotHovering {
  width: 3rem;
  height: 3rem;
}
